doctype html
html(lang="en")
	head
		title="Nate Conley | Web Developer"
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/4.1.1/normalize.css")
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(rel="stylesheet" href="styles.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")

	body
		header
			div#header-logo
				h1 Nate Conley
				img(src="")
			nav
				a(href="") Home
				a(href="") About
				a(href="") Pro Bono
				a(href="") Contact
		.social-icons
			a(href="http://www.twitter.com/nateconley123", target="_blank")
				i.fa.fa-twitter.fa-3x
			a(href="http://www.linkedin.com/in/nathanconley", target="_blank")
				i.fa.fa-linkedin.fa-3x
			a(href="http://www.codepen.io/nateconley", target="_blank")
				i.fa.fa-codepen.fa-3x
			a(href="http://www.github.com/nateconley", target="_blank")
				i.fa.fa-github.fa-3x
		main
			.hero
				img(src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Grosser_Panda.JPG")
			//- Gallery Navigation
			div#gallery-nav
				p#all All
				p#writing Writing
				p#work Work
			div#gallery-nav-writing
				p Development
				p Social Media
				p Design
				p Life
				p Business Development
			div#gallery-nav-work
				p Client Work
				p CodePens
				p Personal Projects
			//- Articles
			article
				a(href="#")
					img(src="https://c1.staticflickr.com/7/6217/6357645479_b6d8c2d367_z.jpg")
					h3 #[span Lorem Ipsum Dolor #[br] Writing - JavaScript]
			article
				a(href="#")
					img(src="http://i.huffpost.com/gen/3032066/thumbs/r-DOG-403xFB.jpg")
					h3 #[span Lorem Ipsum Dolor #[br] Writing - JavaScript]
			article
				a(href="#")
					img(src="http://i3.cpcache.com/product/711051164/meerkat_square_sticker_3_x_3.jpg?height=225&width=225")
					h3 #[span Lorem Ipsum Dolor #[br] Writing - JavaScript]
			article
				a(href="#")
					img(src="https://c1.staticflickr.com/7/6217/6357645479_b6d8c2d367_z.jpg")
					h3 #[span Lorem Ipsum Dolor #[br] Writing - JavaScript]
			article
				a(href="#")
					img(src="http://i.huffpost.com/gen/3032066/thumbs/r-DOG-403xFB.jpg")
					h3 #[span Lorem Ipsum Dolor #[br] Writing - JavaScript]
			article
				a(href="#")
					img(src="http://i3.cpcache.com/product/711051164/meerkat_square_sticker_3_x_3.jpg?height=225&width=225")
					h3 #[span Lorem Ipsum Dolor #[br] Writing - JavaScript]
		footer
			p &copy;2016 Nate Conley
			div#footer-social
				a(href="http://www.twitter.com/nateconley123", target="_blank")
					i.fa.fa-twitter.fa-2x
				a(href="http://www.linkedin.com/in/nathanconley", target="_blank")
					i.fa.fa-linkedin.fa-2x
				a(href="http://www.codepen.io/nateconley", target="_blank")
					i.fa.fa-codepen.fa-2x
				a(href="http://www.github.com/nateconley", target="_blank")
					i.fa.fa-github.fa-2x
	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
	script(type='text/javascript' src="scripts.js")